@import '../css/queries'
    
* 
    margin: 0
    padding: 0

body 
    font-family: Helvetica, sans-serif
    position: relative
    margin: 0
    padding: 0
    background: #ffffff
    height: 100vh
    width: 100%

    .loading
        display: flex
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        .squareLoad 
            background: red
            height:70px
            width: 70px
            animation: rotate
            animation-duration: 2s
            animation-iteration-count: infinite

            @keyframes rotate
                0%
                    background: #ffffff
                    transform: rotate(45deg)

                50%
                    background: red
                    transform: rotate(90deg)

                100% 
                    background: #ffffff
                    transform: rotate(380deg)

        .logo 
            margin-left: 15px
            padding: 16px 10px
            color: #1b1b1b
    
    .content
        display: none
        opacity: 0
        transition: opacity 1s
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

        h1 
            color: #1b1b1b
            padding: 5px
            font-size: 2.5em

    .content-fade 
        display: block
        animation-name: fade-in 
        animation-duration: 4s
        animation-fill-mode: forwards

        @keyframes fade-in
            0%
                opacity: 0
            100%
                opacity: 1

    .container
        text-align: center
        max-width: 650px
        min-width: 300px

        p 
            color: #808080
            margin-top: 10px
            margin-bottom: 30px

        a.btn 
            text-decoration: none
            font-size: 20px
            padding: 10px 20px
            background: red
            color: #ffffff
            margin-top: 20px
            border-radius: 3px
            
        a.btn:hover
            background: #ff5d5d
            transition: 0.5s ease
